html body {
    font-family: 'Poppins', sans-serif;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

img {
    width: 8rem;
}

a {
    color: red;
}

.margin {
    margin: 0 auto;
}

.cardI {
    width: 100%;
    object-fit: contain;
}